
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(6, 1fr);
}